@import url('../../node_modules/font-awesome/css/font-awesome.min.css');

#app {
    bottom: 2px !important;
}


.full-container-layout {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.relativePosition {
    position: relative;
}

.flexDisplay {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.flex-direction-column {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex-direction-row {
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex-justify-space-between {
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.flex-align-center {
    align-items: center;
    -webkit-align-items:center;
}
.flex-full {
    flex: 1;
    -webkit-flex:1;
}


.app-color-text--white {
    color:#fff;
}

.app-color-primary {
    background-color: #0E2EB1 !important;
}

.app-color-secondary {
    background-color: #fcfcfc !important;
}

.app-color-lightgrey {
    background-color: #EFEFEF !important;
}





.appWrapper {
    height: 100%;
}
.form-container {
	background-image: url('/assets/appBackground.jpg');
    height: 100%;
}

.wrapper {
	padding-top: 80px;
}





/*Users view*/
.usersListView {
    list-style: none;
    margin: 0;
    padding: 0;
}

.usersListView li {
    padding: 10px;
    border-bottom: 1px solid #B3A9A9;
}

.usersListView .img-circle {
    border-radius: 50%;
}

.usersListView .chat-body {
    margin-left: 60px;
}




.fb-submit {
  background:rgba(0, 0, 0, 0.43)
}
.form-signin-heading {
  color:#fff;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;

}
































.emissio-chatView-main {
    padding: 0;
}
.emissio-userView-main {
    padding: 0;
    border-left: 2px solid #ccc;
}
